# MySQL 表数据类型

![avatar](pic/day3_1.png)

# SQL 创建表

### 创建表  
  
CREATE TABLE customers  
(  
  cust_id      int       NOT NULL AUTO_INCREMENT,  
  cust_name    char(50)  NOT NULL ,  
  cust_address char(50)  NULL ,  
  cust_city    char(50)  NULL ,  
  cust_state   char(5)   NULL ,  
  cust_zip     char(10)  NULL ,  
  cust_country char(50)  NULL ,  
  cust_contact char(50)  NULL ,  
  cust_email   char(255) NULL ,  
  PRIMARY KEY (cust_id)  
) ENGINE=InnoDB;  

CREATE TABLE orderitems  
(  
  order_num  int          NOT NULL ,  
  order_item int          NOT NULL ,  
  prod_id    char(10)     NOT NULL ,  
  quantity   int          NOT NULL  default 1,  
  item_price decimal(8,2) NOT NULL ,  
  PRIMARY KEY (order_num, order_item)  
) ENGINE=InnoDB;  


主键的值必须唯一   
设定主键-- 在设定主键的字段后面输入 primary key  
设定列类型 、大小、约束

### 添加多行数据 

insert into customers(cust_id,cust_name,cust_address,cust_city,cust_state,cust_zip,cust_country,cust_contact,cuat_email)  
  
values(null,'Pep E. LaPew','100 Main Street','Los Angeles','CA','90046','USA',null,null)，  
  
(null,'M.Martian','42 Galaxy Way','New York','NY','11213','USA',null,null);  
  
多行单行只要更改插入数据的数量就行

### 插入别的表的数据

insert into customers(cust_id,cust_name,cust_address,cust_city,cust_state,cust_zip,cust_country,cust_contact,cuat_email)  

select cust_id,cust_name,cust_address,cust_city,cust_state,cust_zip,cust_country,cust_contact,cuat_email from custnew;   

INSERT INTO ProductType (product_type, sum_sale_price, sum_purchase_price)   
 
SELECT product_type, SUM(sale_price), SUM(purchase_price)    
 
FROM Product GROUP BY product_type;

### 用SQL语句删除表

![avatar](pic/day3_2.png)

## 作业  

项目三：超过5名学生的课（难度：简单）  
创建如下所示的courses 表 ，有: student (学生) 和 class (课程)。  
例如,表:  
±--------±-----------+  
| student | class |  
±--------±-----------+  
| A | Math |  
| B | English |  
| C | Math |  
| D | Biology |  
| E | Math |   
| F | Computer |  
| G | Math |  
| H | Math |  
| I | Math |  
| A | Math |

CREATE TABLE course   
(  
student VARCHAR(50) NOT NULL,  
class   VARCHAR(50) NOT NULL  
);  
 
INSERT INTO course(student,class) VALUES ('A','Math');  
INSERT INTO course(student,class) VALUES ('B','English');  
INSERT INTO course(student,class) VALUES ('C','Math');  
INSERT INTO course(student,class) VALUES ('D','Biology');  
INSERT INTO course(student,class) VALUES ('E','Math');  
INSERT INTO course(student,class) VALUES ('F','Computer');  
INSERT INTO course(student,class) VALUES ('G','Math');  
INSERT INTO course(student,class) VALUES ('H','Math');  
INSERT INTO course(student,class) VALUES ('I','Math');  
INSERT INTO course(student,class) VALUES ('A','Math');  
   
select class from course group by class having count(distinct student) >=5;

项目四：交换工资（难度：简单）  
创建一个 salary表，如下所示，有m=男性 和 f=女性的值 。  
例如:  
| id | name | sex | salary |  
|----|------|-----|--------|   
| 1  | A    | m   | 2500   |  
| 2  | B    | f   | 1500   |  
| 3  | C    | m   | 5500   |  
| 4  | D    | f   | 500    |  

交换所有的 f 和 m 值(例如，将所有 f 值更改为 m，反之亦然)。要求使用一个更新查询，并且没有中间临时表。  
运行你所编写的查询语句之后，将会得到以下表:  
| id | name | sex | salary |  
|----|------|-----|--------|  
| 1  | A    | f   | 2500   |  
| 2  | B    | m   | 1500   |  
| 3  | C    | f   | 5500   |  
| 4  | D    | m   | 500    |

CREATE TABLE salary (  
	id INT UNSIGNED AUTO_INCREMENT,   
	name VARCHAR(100) NOT NULL,  
	sex VARCHAR(100) NOT NULL,  
	salary INT UNSIGNED NOT NULL,  
	PRIMARY KEY (id)  
);  

INSERT INTO salary   
(name, sex, salary)  
VALUES  
('A', 'm', 2500),  
('B', 'f', 1500),  
('C', 'm', 5500),  
('D', 'f', 500);  

UPDATE salary SET sex = 'f' WHERE sex = 'm';  
UPDATE salary SET sex = 'm' WHERE sex = 'f';  

UPDATE salary  
	SET sex =   
CASE WHEN sex = 'f'  
	THEN sex = 'm'  
	ELSE sex = 'f'  
	END;  

UPDATE salary  
SET sex = REPLACE('m',sex,'f')