## 学习内容
####  MySQL别名
####  内联结
####  外联结
####  自联结
####  UNION
####  以上几种方式的区别和联系

###  MySQL别名
  
SELECT vend_name, prod_name, prod_price
FROM Vendors, Products
WHERE Vendors.vend_id = Products.vend_id;

### 内联结
  
SELECT vend_name, prod_name, prod_price   
FROM Vendors INNER JOIN Products   
ON Vendors.vend_id = Products.vend_id;

###  外联结
    
SELECT c.cust_id, o.order_num  
FROM Customers AS c LEFT OUTER JOIN Orders AS o  
ON c.cust_id = o.cust_id;

###  自联结
  
SELECT C.*, O.order_num, O.order_date,
OI.prod_id, OI.quantity, OI.item_price
FROM Customers AS C, Orders AS O, OrderItems AS OI
WHERE C.cust_id = O.cust_id
AND O.order_num = OI.order_num
AND prod_id = ‘RGAN01’;

###  UNION
  
SELECT cust_name, cust_contact, cust_email
FROM Customers
WHERE cust_name = 'Fun4All'
UNION
SELECT cust_name, cust_contact, cust_email
FROM Customers
WHERE cust_state IN ('IL', 'IN', 'MI');

###  以上几种方式的区别和联系  
交叉联结（CROSS JOIN 又称笛卡尔积 ）：两表关联，把左表的列和右表的列通过笛卡尔积的形式表达出来。实际上是把两个表乘起来。  
左连接（LEFT JOIN是LEFT OUTER JOIN的简写，LEFT JOIN默认是outer属性的）：两表关联，左表全部保留，右表关联不上用null表示。是从from子句的左边表中选择所有行  
右连接（RIGHT JOIN是RIGHT OUTER JOIN的简写）：右表全部保留，左表关联不上的用null表示。是从from子句的右边表中选择所有行。  
内连接（inner join）：两表关联，保留两表中交集的记录。  
自联结：本质是把一张表当成两张表来使用。MySQL有时在信息查询时需要进行对自身联结（自联结），所以我们需要为表定义别名  
UNION：MySQL UNION 操作符用于连接两个以上的 SELECT 语句的结果组合到一个结果集合中。多个 SELECT 语句会删除重复的数据。

项目五：组合两张表 （难度：简单）  
在数据库中创建表1和表2，并各插入三行数据（自己造）  
表1: Person  
+-------------+---------+  
| 列名         | 类型     |  
+-------------+---------+  
| PersonId    | int     |  
| FirstName   | varchar |  
| LastName    | varchar |  
+-------------+---------+  
PersonId 是上表主键  
  
表2: Address    
+-------------+---------+  
| 列名         | 类型    |  
+-------------+---------+  
| AddressId   | int     |  
| PersonId    | int     |  
| City        | varchar |  
| State       | varchar |  
+-------------+---------+  
AddressId 是上表主键  
  
编写一个 SQL 查询，满足条件：无论 person 是否有地址信息，都需要基于上述两表提供 person 的以下信息：FirstName, LastName, City, State  

  
----组合两张表  
CREATE TABLE Person    
(  
PersonId INT PRIMARY KEY NOT NULL,  
FirstName VARCHAR(20) NOT NULL,  
LastName VARCHAR(20) NOT NULL  
);  

----插入数据  
INSERT INTO Person VALUES(1, 'rui', 'cun');  
INSERT INTO Person VALUES(2, 'zhang', 'cun');  
INSERT INTO Person VALUES(3, 'wang', 'cun');  
  
CREATE TABLE Address  
(  
PersonId INT PRIMARY KEY NOT NULL,  
AddressId INT NOT NULL,  
City VARCHAR(20) NOT NULL,  
State VARCHAR(20) NOT NULL  

----插入数据  
INSERT INTO Address VALUES(1, 1002, 'shanghai', 'China');  
INSERT INTO Address VALUES(2, 1003, 'beijing', 'China');  
INSERT INTO Address VALUES(3, 1004, 'New York', 'America');  

----进行查询  
SELECT FirstName, LastName, City, State  
FROM Person, Address  
WHERE Person.PersonId = Address.PersonId;

项目六：删除重复的邮箱（难度：简单）  
编写一个 SQL 查询，来删除 email 表中所有重复的电子邮箱，重复的邮箱里只保留 Id 最小 的那个。  
+----+---------+  
| Id | Email   |  
+----+---------+  
| 1  | a@b.com |  
| 2  | c@d.com |  
| 3  | a@b.com |  
+----+---------+  
Id 是这个表的主键。  
例如，在运行你的查询语句之后，上面的 Email表应返回以下几行:  
+----+------------------+  
| Id | Email            |  
+----+------------------+  
| 1  | a@b.com |  
| 2  | c@d.com  |  

----建表  
CREATE TABLE email  
(  
Id INT PRIMARY KEY NOT NULL,  
Email VARCHAR(20) NOT NULL  
);  

----插入数据  
INSERT INTO email VALUES(1, 'a@b.com');  
INSERT INTO email VALUES(2, 'c@d.com');  
INSERT INTO email VALUES(3, 'a@b.com');  

----查询  
DELETE e1   
FROM email e1, email e2  
WHERE e1.Email = e2.Email  
AND e1.Id > e2.Id;