é¡¹ç›®åï¼šè¡Œç¨‹å’Œç”¨æˆ·ï¼ˆéš¾åº¦ï¼šå›°éš¾ï¼‰
Trips è¡¨ä¸­å­˜æ‰€æœ‰å‡ºç§Ÿè½¦çš„è¡Œç¨‹ä¿¡æ¯ã€‚æ¯æ®µè¡Œç¨‹æœ‰å”¯ä¸€é”® Idï¼ŒClient_Id å’Œ Driver_Id æ˜¯ Users è¡¨ä¸­ Users_Id çš„å¤–é”®ã€‚Status æ˜¯æšä¸¾ç±»å‹ï¼Œæšä¸¾æˆå‘˜ä¸º (â€˜completedâ€™, â€˜cancelled_by_driverâ€™, â€˜cancelled_by_clientâ€™)ã€‚
+----+-----------+-----------+---------+--------------------+----------+
| Id | Client_Id | Driver_Id | City_Id |        Status      |Request_at|
+----+-----------+-----------+---------+--------------------+----------+
| 1  |     1     |    10     |    1    |     completed      |2013-10-01|
| 2  |     2     |    11     |    1    | cancelled_by_driver|2013-10-01|
| 3  |     3     |    12     |    6    |     completed      |2013-10-01|
| 4  |     4     |    13     |    6    | cancelled_by_client|2013-10-01|
| 5  |     1     |    10     |    1    |     completed      |2013-10-02|
| 6  |     2     |    11     |    6    |     completed      |2013-10-02|
| 7  |     3     |    12     |    6    |     completed      |2013-10-02|
| 8  |     2     |    12     |    12   |     completed      |2013-10-03|
| 9  |     3     |    10     |    12   |     completed      |2013-10-03| 
| 10 |     4     |    13     |    12   | cancelled_by_driver|2013-10-03|
+----+-----------+-----------+---------+--------------------+----------+
Users è¡¨å­˜æ‰€æœ‰ç”¨æˆ·ã€‚æ¯ä¸ªç”¨æˆ·æœ‰å”¯ä¸€é”® Users_Idã€‚Banned è¡¨ç¤ºè¿™ä¸ªç”¨æˆ·æ˜¯å¦è¢«ç¦æ­¢ï¼ŒRole åˆ™æ˜¯ä¸€ä¸ªè¡¨ç¤ºï¼ˆâ€˜clientâ€™, â€˜driverâ€™, â€˜partnerâ€™ï¼‰çš„æšä¸¾ç±»å‹ã€‚
+----------+--------+--------+
| Users_Id | Banned |  Role  |
+----------+--------+--------+
|    1     |   No   | client |
|    2     |   Yes  | client |
|    3     |   No   | client |
|    4     |   No   | client |
|    10    |   No   | driver |
|    11    |   No   | driver |
|    12    |   No   | driver |
|    13    |   No   | driver |
+----------+--------+--------+
å†™ä¸€æ®µ SQL è¯­å¥æŸ¥å‡º 2013å¹´10æœˆ1æ—¥ è‡³ 2013å¹´10æœˆ3æ—¥ æœŸé—´éç¦æ­¢ç”¨æˆ·çš„å–æ¶ˆç‡ã€‚åŸºäºä¸Šè¡¨ï¼Œä½ çš„ SQL è¯­å¥åº”è¿”å›å¦‚ä¸‹ç»“æœï¼Œå–æ¶ˆç‡ï¼ˆCancellation Rateï¼‰ä¿ç•™ä¸¤ä½å°æ•°ã€‚
+------------+-------------------+
|     Day    | Cancellation Rate |
+------------+-------------------+
| 2013-10-01 |       0.33        |
| 2013-10-02 |       0.00        |
| 2013-10-03 |       0.50        |
+------------+-------------------+

èµ é€åˆ›å»ºè¡¨æ ¼ä»£ç ï¼Œå¼€ä¸å¼€å¿ƒï¼Œè§é™„ä»¶   :-)  å¼€å¿ƒğŸ˜„

In [ ]:
SELECT 
D.Name Department,
E1.Name Name,
Salary
FROM employee E1
INNER JOIN department D
ON E1.DepartmentId = D.ID
WHERE 
(SELECT COUNT(*)
 FROM employee E2 
WHERE E1.Salary <= E2.Salary AND E1.DepartmentId = E2.DepartmentId)
 <= 3

é¡¹ç›®åä¸€ï¼šå„éƒ¨é—¨å‰3é«˜å·¥èµ„çš„å‘˜å·¥ï¼ˆéš¾åº¦ï¼šä¸­ç­‰ï¼‰

å°†æ˜¨å¤©employeeè¡¨æ¸…ç©ºï¼Œé‡æ–°æ’å…¥ä»¥ä¸‹æ•°æ®ï¼ˆå…¶å®æ˜¯å¤šæ’å…¥5,6ä¸¤è¡Œï¼‰ï¼š
+----+-------+--------+--------------+
| Id | Name  | Salary | DepartmentId |
+----+-------+--------+--------------+
| 1  | Joe   | 70000  | 1            |
| 2  | Henry | 80000  | 2            |
| 3  | Sam   | 60000  | 2            |
| 4  | Max   | 90000  | 1            |
| 5  | Janet | 69000  | 1            |
| 6  | Randy | 85000  | 1            |
+----+-------+--------+--------------+
ç¼–å†™ä¸€ä¸ª SQL æŸ¥è¯¢ï¼Œæ‰¾å‡ºæ¯ä¸ªéƒ¨é—¨å·¥èµ„å‰ä¸‰é«˜çš„å‘˜å·¥ã€‚ä¾‹å¦‚ï¼Œæ ¹æ®ä¸Šè¿°ç»™å®šçš„è¡¨æ ¼ï¼ŒæŸ¥è¯¢ç»“æœåº”è¿”å›ï¼š
+------------+----------+--------+
| Department | Employee | Salary |
+------------+----------+--------+
| IT         | Max      | 90000  |
| IT         | Randy    | 85000  |
| IT         | Joe      | 70000  |
| Sales      | Henry    | 80000  |
| Sales      | Sam      | 60000  |
+------------+----------+--------+

æ­¤å¤–ï¼Œè¯·è€ƒè™‘å®ç°å„éƒ¨é—¨å‰Né«˜å·¥èµ„çš„å‘˜å·¥åŠŸèƒ½ã€‚

In [ ]:
SELECT d.Name AS Department, e1.Name AS Employee,e1.Salary AS Salary
FROM employee e1
JOIN department d
ON e1.DepartmentId = d.id
WHERE (
SELECT COUNT(DISTINCT e2.Salary)
FROM employee e2 
WHERE e2.Salary > e1.Salary AND e1.DepartmentId = e2.DepartmentId
) <3
ORDER BY d.Name, e1.Salary desc;

é¡¹ç›®åäºŒ  åˆ†æ•°æ’å - ï¼ˆéš¾åº¦ï¼šä¸­ç­‰ï¼‰
ä¾ç„¶æ˜¯æ˜¨å¤©çš„åˆ†æ•°è¡¨ï¼Œå®ç°æ’ååŠŸèƒ½ï¼Œä½†æ˜¯æ’åæ˜¯éè¿ç»­çš„ï¼Œå¦‚ä¸‹ï¼š
+-------+------+
| Score | Rank |
+-------+------+
| 4.00  | 1    |
| 4.00  | 1    |
| 3.85  | 3    |
| 3.65  | 4    |
| 3.65  | 4    |
| 3.50  | 6    |
+-------+------+

In [ ]:
SELECT FORMAT(score,2) AS Score,
(SELECT count(*) FROM Score AS s2 WHERE s2.score > s1.score)+1 AS 'Rank' 
FROM score AS s1
ORDER BY score DESC;